:root{
    --jcore-card-bg-color:  #f2f4f7;
    --jcore-sub-card-bg-color:hsl(217, 24%, 93%);
    --jcore-bg-color:  #94a3b897;
    --jcore-text-primary: #070d16;
    --jcore-text-muted: #132135;
    --border-light:#1c3350;
    --border-light:#1c3350;
    --mediumBlue:#1d70b8;
    --limeGreen:#84bd00;
    --navyBlue:#0b2c4b;
    --slateBlue: #1d3b4c;
}


html{
    scroll-behavior: smooth;
}

body{
    background-color: var(--jcore-bg-color);
    width: 95%;
    margin: auto;
    
}

#image-logo{
    width: 100%;
    border-radius: 75px;
    box-shadow: 5px 8px 2px #2b49085d;
    padding: 5px;
    grid-area: header-logo;
    
}

#header-section{
    position: fixed;
    z-index: 1000;
    top: 0px;
    width: 95%;
    margin:auto;
    display: grid;
    grid-template-columns: 70px 1fr;
    grid-template-rows: 60px;
    grid-template-areas: 
    "header-logo links";
    gap: 10px;
    border-radius: 25px;
    background-color: var(--mediumBlue);
    

}


.nav-drawer{
    align-content: center;
    width: 100%;
    grid-area: links;
}

.nav-drawer ul{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(7,minmax(100px,1fr));
    
    
    
}

.nav-drawer ul li{
    list-style-type: none;
    
     
}

.nav-drawer ul li a{
    text-decoration: none;
    font-size: 1.0em;
    font-family:sans-serif;
    color: #0d264b;
    font-weight: 600;

}


.nav-drawer ul li a:hover{
    color: #f4f5f7;
    background-color: #0e67d4;
    border-radius: 12px;
    padding: 7px;
    transform: scaleX(1.1);
}
#first-heading{
    margin-top: 65px;
    font-size: 3.0em;
    font-family: sans-serif;
    font-weight: 800;
    text-align: center;
    columns: var(--jcore-text-primary);
}

#hero-box{
    display: grid;
    /*Define column widths and row heights*/
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto auto auto auto;

    grid-template-areas: 
    "hero-h hero-h"
    "hero-p logo"
    "cta-button ."
    "hero-q hero-q";

    gap: 5px;
    width: 95%;
    margin: auto;
    background-color: var(--jcore-card-bg-color);
    border-radius: 15px;
    padding: 30px;
}

.hero-q{
    grid-area: hero-q;
}



.hero-h{
    grid-area: hero-h;
}

.hero-p{
    grid-area: hero-p;
}

#hero-box h2{
    font-size: 2.0em;
    font-family: sans-serif;
    
}
#hero-p{
    font-size: 1.4em;
    font-family: sans-serif;
    
}


#hero-buttons{
    display: flex;
    justify-content: space-evenly;
    grid-area: cta-button;

}

#hero-buttons button{
    font-size: 1.0em;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    border: 2px solid var(--border-light);
}

@keyframes glowing {
    0%{
        box-shadow:10px 15px 50px var(--border-light);

    }

    25%{
        box-shadow:0px 0px 10px rgb(21, 23, 21),
                    0px 0px 10px rgba(152, 244, 175, 0.747);
    }

    75%{
        box-shadow:0px 0px 10px rgba(164, 208, 175, 0.375),
                    0px 0px 10px rgba(6, 61, 20, 0.575);
    }

    100%{
        box-shadow:10px 15px 50px var(--border-light);;
    }
}



#hero-image{
    width: 100%;
    
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 50px var(--border-light);
    animation: glowing 2s ease-in-out infinite;
    grid-area: logo;
}

#hero-q{
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    
}

#card-container1,#syllabus-container,.student-hub{
    display: flex;
    gap: 50px;
    width: 95%;
    margin: auto;
    background-color: var(--jcore-card-bg-color);
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
}

#card-container1 .cards{
    background-color:var(--jcore-sub-card-bg-color);
    border-radius: 20px;
    padding: 20px;
    width: 50%;
}

#card-container1 .cards h3{
    font-size: 1,6em;
    font-family: sans-serif;
    font-weight: 600;
    color: var(--jcore-text-primary);
}

#card-container1 .cards p,.syllabus-cards p,.about-instructor p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}


#pillars h3,#syllabus-heading,#instructor h2,#student-hub h2{
    font-size: 1.9em;
    font-family: sans-serif;
    color: var(--jcore-text-muted);
    font-weight: 700;
    text-align: center;

}





.pillar-card-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "embedded web network";

    gap: 50px;
    width: 95%;
    margin: auto;
    background-color: var(--jcore-card-bg-color);
    padding: 10px;
    border-radius: 15px;
    margin-top: 20px;
    overflow: hidden;
}

#embedded{
    grid-area: embedded;

}

#web{
    grid-area: web;

}

#network{
    grid-area: network;
}

.pillar-cards{
    width: 100%;
    background-color:var(--jcore-sub-card-bg-color);
    border-radius: 20px;
    padding: 20px;
}

.syllabus-cards{
    width: 40%;
    background-color:var(--jcore-sub-card-bg-color);
    border-radius: 20px;
    padding: 20px;
}


.pillar-cards h4,.syllabus-cards h3{
    font-size: 1.2em;
    color: var(--jcore-text-primary);
    font-weight: 600;
    font-family: sans-serif;
}

.pillar-cards img{
    width: 200px;
}


.instructor{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: auto;
    grid-template-areas: 
    "detail pic";
    gap: 50px;
    width: 95%;
    margin: auto;
    background-color: var(--jcore-card-bg-color);
    padding: 30px;
    border-radius: 15px;
    margin-top: 20px;
}

.about-instructor{
    grid-area: detail;
    width: 100%;
    background-color:var(--jcore-sub-card-bg-color);
    border-radius: 20px;
    padding: 20px;
}

#instructor-photo{
    width: 100%;
    border-radius: 250px;
}

.profile-pic{
    grid-area: pic;
}



.student-hub{
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,minmax(200px,1fr));
    grid-template-rows: auto; 
    
       
}

.card-StudentHub{
    background-color: var(--jcore-sub-card-bg-color);
    border-radius: 15px;
    padding: 5px 25px 0px 25px;

}

.card-StudentHub img{
    height: 130px;
    border-radius: 15px;
    margin-bottom: 5px;
}


.btn-projects{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.btn-projects button{
    font-size: 0.8em;
    padding:6px 8px 6px 8px;
    border-radius: 12px;
    border: 2px solid var(--border-light);
    cursor: pointer;
}

hr{
    height: 10px;
    background-color: #d1ddef;
    border: none;
    border-radius: 12px;
    box-shadow: 2px 2px 10px #132135;
    margin-top: 50px;
    margin-bottom: 40px;
}

footer{
    height: 400px;
    width: 95%;
    margin: auto;
    background-color: #070d16;
}
